<!DOCTYPE html>
<html>
<head>
    <title>Ienākt portālā</title>
    <link rel="stylesheet" href="static/css/dizains.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        body{
            background: url('static/images/lv.png') no-repeat bottom right;
            background-size: auto 50%;
        }
    </style>
    <img class="fons" src="static/images/lv.png">
    <div class="galvenais">
    <img class="logo" src="static/images/p1.png">
    <h1>Ienākt portālā</h1>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Lietotajvārds" required><br><br>
        <input type="password" name="password" placeholder="Parole" required><br><br>
        <button type="submit" href="/map">Ienākt</button>
        <h3>Nav vēl konta?</h3>
        <a href="/register" class="button">Reģistrēties</a>
    </div>
    </form>
</body>
</html>
