<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/dizains.css">
</head>
<body>
    <style>
        body{
            background: url('static/images/lv.png') no-repeat bottom right;
            background-size: auto 50%;
        }
    </style>
<img src="static/images/p1.png" style="width: 10%;">
    </div>
    <h1 style='text-align:center; padding-bottom:5%;'>Līdz nākamajai reizei!</h1>
    <div class="button-container", style='text-align:center;'><!--Gatavs-->
        <a href='/login' ">Ienākt / Reģistrēties</a>
</div>
    <canvas id="backgroundCanvas"></canvas>
    <script src="script.js"></script>
</body>
</html>