<!DOCTYPE html>
<html>
<head>
    <title>Reģistrācija</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dizains.css') }}">
    <img src="{{ url_for('static', filename='images/p1.png') }}" alt="Example Image">
    
</head>
<body>
    <div class="galvenais">
            <button type="submit" href="map.html">Apskatīt karti</button>
            <button type="submit" href="map.html">Ģenerēt maršrutus</button>
            <button type="submit" href="map.html">Pievienot galamērķus</button>
            <button type="submit" href="map.html">Apstiprināt</button><br><br>
            <br><br>
            <br><br>

        <a href="register.html" class="button">Notīrīt visas adreses</a>
    </div>
</body>
</html>

